html{scroll-behavior:smooth}

body {
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
    color: #505962;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.offset:before {
    display: block;
    height: 4rem;
    content: "";
    margin-top: -4rem;
}

/* Start Navigation */

.navbar {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    background: rgba(0,0,0,0.6)!important;
}

.navbar-brand {
    padding-left: 5px;
}

.navbar-nav li {
    padding-right: .7rem;
    font-weight: 700;
    font-size: .9rem;
    
}

.navbar-dark .navbar-nav .nav-item a {
    color: white;  
    padding-top: .8rem;
    transition: all .4s ease-in-out;
}

.navbar-dark .navbar-nav .nav-item a.active,
.navbar-dark .navbar-nav .nav-item a:hover {
    color: tomato;
}

/* End Navigation */

/* Start Landing Page */

.home-inner {
    background: url("../img/computers.png") center;
    background-size: cover;
    width: auto;
    height: 800px; 
}

.caption {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 40%;
    z-index: 1;
    color: white;
    text-transform: uppercase;
}

.caption h1 {
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: .2rem;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: 1rem;
}

.caption h2 {
    font-size: 2rem;
    letter-spacing: .2rem;
    text-shadow: .5rem .1rem .8rem black;
    padding-bottom: 1.6rem;
}

.caption .btn-lg {
    transition: all .4s ease-in-out;
    letter-spacing: .1rem;
}

.caption .btn-lg:hover {   
    transform: scale(1.25);
    color: tomato;
}

/* End Landing Page */

/* Start About Section */

.about .heading-underline {
    width: 6rem;
    height: .2rem;
    background-color: #1ebba3;
    margin: 0 auto 2rem;
}

.about .heading {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.9rem;
}

.narrow {
    width: 75%;
    margin: 1,5rem auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.narrow p {
    padding:0 1rem;
    font-size: 1.15rem;
    font-weight: 400;
}
.narrow h2 {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

/* End About Section */

/* Start Interests */

.jumbotron {
    padding: 2rem 1rem;
    border-radius: 0;
}

.interests .heading {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.9rem;
}

.interests .heading-underline {
    width: 6rem;
    height: .2rem;
    background-color: #1ebba3;
    margin: 0 auto 2rem;
}

.interests h3 {
    font-size: 1.3rem;
    text-transform: uppercase;
    padding-bottom: .4rem;
}

.interests p {
    padding:0 1rem;
    font-size: 1.15rem;
}

.interests .interest-col {
    padding: 1.5rem;
}

.interests .personal-interests {
    margin: 0;
    padding-top: 1rem;
    font-size: 1.15rem;
}


/* End Interests */

/* Start Projects Section */

.projects-background {
    background-image: url("../img/projects.jpg");
    background-size: cover;
    z-index: -1;
    padding: 2.5rem 1rem;
}

.projects {
    margin: 0 auto;
}

.projects .heading {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.9rem;
    color: white;
} 

.projects .heading-underline {
    width: 6rem;
    height: .2rem;
    background-color: #1ebba3;
    margin: 0 auto 2rem;
}

.projects .card {
    display: inline-block;
    padding: 1rem;
    transition: 0.2s ease-in;
}

.projects .card h3 {
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
}

.projects .logo {
    display: inline-block;
    text-align: center;
    vertical-align: center;
    color: #1ebba3;
    padding-top: 2rem;
}

.projects .card a {
    transition: 0.4s ease-in-out;
    
}

/* End Projects Section */

/* Start Resources Section */
.heading-underline {
    width: 6rem;
    height: .2rem;
    background-color: #1ebba3;
    margin: 0 auto 2rem;
}

.fixed-background {
    background-image: url("../img/table.jpg");
    background-size: cover;
    z-index: 1;
}

.fixed-background h3 {
    margin-bottom: 2rem;
}

.fixed-background p {
    margin-top: 1.5rem;
}
.dark {
    background-color: rgba(0,0,0,0.75);
    color: white;
    padding: 7rem 2rem;
}

.feature svg.svg-inline--fa {
    color: #1ebba3;
}

/* End Resources Section */

/* Start Contact Section */
footer h2 {
    padding-top: 1em;
}
footer {
    background-color: #40474e;
    color: white;
    margin-top: 1rem;
    padding: 2rem;
}

footer a {
    color: white;
}

footer p {
    padding: 0 1rem;
}
footer svg.svg-inline--fa {
    font-size: 1.6rem;
    margin: 1.2rem .5rem 0 0;

}

footer svg.svg-inline--fa:hover {
    color: #1ebba3!important;
}

/* End Contact Section */

/* Media Queries */

@media (max-width:767px) {
    .caption h1 {
        font-size: 2.3rem;
        letter-spacing: .15rem;
        padding-bottom: .5rem;
    }
    
    .caption h2 {
        font-size: 1.2rem;
        padding-bottom: 1.2rem;
    }
    
    .btn-lg {
        padding: .5rem 1rem;
        letter-spacing: .1rem;
        font-size: 1rem;
    }

    .narrow h1 {
        font-size: 1.5rem;
    }
}

@media (min-width:768px) {
    .navbar-dark .navbar-nav .nav-item a.active,
    .navbar-dark .navbar-nav .nav-item a:hover {
        transform: scale(1.1);
        color: tomato;
    }

    .projects {
        padding: 0 5vw;
    }

    .projects .card {
        height: 35rem;
    }

    .projects .card a.active,
    .projects .card a:hover {
        transform: scale(1.2);
    }
  
}



