html{scroll-behavior:smooth}

body {
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
    color: #505962;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.offset:before {
    display: block;
    height: 4rem;
    content: "";
    margin-top: -4rem;
}

/* Navigation */

.navbar {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    background: rgba(0,0,0,0.6)!important;
}

.navbar-brand {
    padding-left: 5px;
}

.navbar-nav li {
    padding-right: .7rem;
    font-weight: 700;
    font-size: .9rem;
    
}

.navbar-dark .navbar-nav .nav-item a {
    color: white;  
    padding-top: .8rem;
    transition: all .4s ease-in-out;
}

.navbar-dark .navbar-nav .nav-item a.active,
.navbar-dark .navbar-nav .nav-item a:hover {
    color: tomato;
}

/* Landing Page */
.home-inner {
    background: url("../img/computers.png") center;
    background-size: cover;
    width: auto;
    height: 1000px; 
}

.caption {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 40%;
    z-index: 1;
    color: white;
    text-transform: uppercase;
}

.caption h1 {
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: .2rem;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: 1rem;
}

.caption h2 {
    font-size: 2rem;
    letter-spacing: .2rem;
    text-shadow: .5rem .1rem .8rem black;
    padding-bottom: 1.6rem;
}

.caption .btn-lg {
    transition: all .4s ease-in-out;
    letter-spacing: .1rem;
}

.caption .btn-lg:hover {   
    transform: scale(1.25);
    color: tomato;
}
/* About Section */

.narrow {
    width: 75%;
    margin: 1,5rem auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.narrow p {
    padding:0 2.5rem;
}
.narrow h2 {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}


/* Interests */

.jumbotron {
    padding: 0px;
    border-radius: 0;
}

.interests .heading {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.9rem;
}

.interests .col-md-4{
    padding-top: 1rem;
}

.interests h3 {
    font-size: 1.3rem;
    text-transform: uppercase;
    padding-bottom: .4rem;
}

.interests p {
    font-size: 1.1rem;
}
/* Projects Section */

.project-item {
    padding: 250px;    
}
.project-item h2 {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
}

/* Resources Section */
.heading-underline {
    width: 3rem;
    height: .2rem;
    background-color: #1ebba3;
    margin: 0 auto 2rem;
}

.fixed-background {
    background-image: url("../img/table.jpg");
    background-size: cover;
    z-index: 1;
}

.fixed-background h3 {
    margin-bottom: 2rem;
}

.fixed-background p {
    margin-top: 1.5rem;
}
.dark {
    background-color: rgba(0,0,0,0.75);
    color: white;
    padding: 7rem 2rem;
}

.feature svg.svg-inline--fa {
    color: #1ebba3;
}

/* Contact Section */
footer h2 {
    padding-top: 1em;
}
footer {
    background-color: #40474e;
    color: white;
    margin-top: 1rem;
}

footer a {
    color: white;
}

footer p {
    padding-top: 1em;
}
footer svg.svg-inline--fa {
    font-size: 1.6rem;
    margin: 1.2rem .5rem 0 0;

}

footer svg.svg-inline--fa:hover {
    color: #1ebba3!important;
}

/* Media Queries */

@media (max-width:767px) {
    .caption h1 {
        font-size: 2.3rem;
        letter-spacing: .15rem;
        padding-bottom: .5rem;
    }
    
    .caption h2 {
        font-size: 1.2rem;
        padding-bottom: 1.2rem;
    }
    
    .btn-lg {
        padding: .5rem 1rem;
        letter-spacing: .1rem;
        font-size: 1rem;
    }

    .narrow h1 {
        font-size: 1.5rem;
    }
}

@media (min-width:768px) {
    .navbar-dark .navbar-nav .nav-item a.active,
    .navbar-dark .navbar-nav .nav-item a:hover {
        transform: scale(1.1);
        color: tomato;
    }
}

